table {
    border: 3px solid black;
    background-color: springgreen;

    margin: 0 auto;
    border-collapse: collapse;
}


thead {
color: red;

    background-color: aqua;
}

th {
    font-size: 4rem;

    border: 1px solid white;

    padding: 1px 7px;
}

td {
    font-size: 3rem;

    border: 1px solid white;
    padding: 1px 7px;

}

tr:nth-child(even) {
    background-color: blue;

    color: white;
}